<div>
    <p><%= BoletoSetting.human_attribute_name('bank_code') %>: <%= payment_setting.bank_code %></p>
    <p><%= BoletoSetting.human_attribute_name('agency_number') %>: <%= payment_setting.agency_number %></p>
    <p><%= BoletoSetting.human_attribute_name('account_number') %>: <%= payment_setting.account_number %></p>
</div>