<h2>
  <% if @company.incomplete? %>
    <%= t '.ask_to_complete_company' %>
  <% elsif @company.accepted? %>
    <%= t '.edit_company_message' %>
  <% end %>
</h2>

<% if @company.errors.any? %>
  <ul>
    <% @company.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @company, :url => company_path(@company), method: :patch do |f| %>
  <div>
    <%= f.label :legal_name %>
    <%= f.text_field :legal_name %>
  </div>
  <div>
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>
  </div>
  <div>
    <%= f.label :billing_address %>
    <%= f.text_field :billing_address %>
  </div>
  <div>
    <%= f.label :billing_email %>
    <%= f.text_field :billing_email %>
  </div>
  <%= f.submit t('common.submit') %>
<% end %>
