<h2><%= t('.register_new_message') %></h2>

<%= form_with(model: @boleto_setting) do |f| %>
  <div>
    <%= f.label :agency_number %>
    <%= f.text_field :agency_number %> 

    <% @boleto_setting.errors.full_messages_for(:agency_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :account_number %>
    <%= f.text_field :account_number %> 

    <% @boleto_setting.errors.full_messages_for(:account_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :bank_code %>
    <%= f.text_field :bank_code %> 

    <% @boleto_setting.errors.full_messages_for(:bank_code).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :payment_method_id %>
    <%= f.select :payment_method_id, @payment_methods_dropdown %>
    <% @boleto_setting.errors.full_messages_for(:payment_method_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
