<!DOCTYPE html>
<html>
  <head>
    <title>Payment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-white">
    <%= render 'shared/navbar' %>
    <% if current_admin %>
      <%= render 'shared/admin_navbar' %>
    <% end %>
    
    <% if notice %>
      <div class="bg-green-100 border border-green-400 text-xs text-green-700 mx-2 my-2 px-2 py-3 rounded relative">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
