<div class="form-border">
  <h2 class="form-title">Crie sua conta</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
      <div class="form-m-w-content">
        <div class="mb-4">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text-field" %>
        </div>

        <div class="mb-4">
          <div class="flex">
            <%= f.label :password, class: "form-label" %>
            <% if @minimum_password_length %>
              <span class="form-label flex ml-12">(<%= @minimum_password_length %> caracters no mínimo)</span>
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-text-field" %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-text-field" %>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar", class: "form-submit-button mb-2" %>
        </div>
      </div>
    <% end %>

    <div class="form-content-after-submit-button">
      <%= render "users/shared/links" %>
    </div>
</div>
